<h1 class="page-header">
  {{#link-to "<%= dasherizedModuleNamePlural %>.new" tagName="button" class="pull-right" }}{{fa-icon "plus-circle" fixedWidth=true}}{{/link-to}}
  <%= humanizedModuleNamePlural %>
</h1>

{{#if model.length}}
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr><% attrs.forEach(function(attr) { %>
          <th>
            <%= attr.label %>
          </th><% }); %>
          <th colspan="3" class="text-center">
            {{fa-icon "bars" fixedWidth=true}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |<%= camelizedModuleName %>|}}
          <tr><% attrs.forEach(function(attr) { %>
            <td>
              {{<%= camelizedModuleName %>.<%= attr.name %>}}
            </td><% }); %>
            <td class="text-center">
              {{#link-to "<%= dasherizedModuleNamePlural %>.show" <%= camelizedModuleName %>}}
                {{fa-icon "eye" fixedWidth=true}}
              {{/link-to}}
            </td>
            <td class="text-center">
              {{#link-to "<%= dasherizedModuleNamePlural %>.edit" <%= camelizedModuleName %>}}
                {{fa-icon "pencil" fixedWidth=true}}
              {{/link-to}}
            </td>
            <td class="text-center">
              <a href="#" {{action "remove" <%= camelizedModuleName %>}}>
                {{fa-icon "times" fixedWidth=true}}
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p id="blankslate">
    No <%= humanizedModuleNamePlural %> found
  </p>
{{/if}}
