<div class="card card-show">
    <div class="card-body">
        <div>
            {{#link-to "<%= dasherizedModuleNamePlural %>.index" tagName="a" class="btn btn-back"}}
              {{t "button.back"}}
            {{/link-to}}
            <h1 class="card-title">
                {{t "<%= dasherizedModuleName %>.title.show"}}
            </h1>
        </div>

        <div class="form-horizontal">
          <% attrs.forEach(function(attr) { %>
          <div class="form-group row">
            <label class="control-label col-md-4">
                {{t "<%= dasherizedModuleName %>.attributes.<%= attr.name %>"}}
            </label>
            <div class="col-md-8">
              <p class="form-control-static"><% if(attr.type == "boolean"){ %>
                    {{t model.<%= attr.name %>}}
                <%} else{ %>
                    {{model.<%= attr.name %>}}
              <%}  %></p>
            </div>
          </div>
          <% }); %>
          <div class="text-right">
            {{#link-to "<%= dasherizedModuleNamePlural %>.edit" model class="btn btn-primary"}}
              {{t "action.edit"}}
            {{/link-to}}

            <a href="#" {{action "remove" model}} class="btn btn-danger">
              {{t "action.remove"}}
            </a>
          </div>

        </div>
    </div>
</div>
